body {
}
#text {
    color: rgb(160, 130, 194);
    font-family: Verdana;
}
#text1 {
    color: rgb(144, 179, 223);
    ;
    font-family: Verdana;
}
#text2 {
    color: rgb(179, 228, 220);
    font-family: Verdana;
}
