@page
@model PetSearch.Pages.FoundPets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
			<h1 class="h1">Pet Find</h1>
	</div>
	<div class="row">
			<h4 class="h4" style="text-align:center">Pets are important to us!</h4>
	</div>
	
	<div class="row input-container">
		<div class="row">
			<h2 class="h2" style="text-align:left" >Write the most important information</h2>
		</div>
    </div>
<hr />
<div class="row text-light" id="form_pet">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoundPet.Id" />
            <div class="form-group">
                <label asp-for="FoundPet.LastSeenAddress" class="control-label"></label>
                <input asp-for="FoundPet.LastSeenAddress" class="form-control" />
                <span asp-validation-for="FoundPet.LastSeenAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundPet.Cellphone" class="control-label"></label>
                <input asp-for="FoundPet.Cellphone" class="form-control" />
                <span asp-validation-for="FoundPet.Cellphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundPet.ImagePet" class="control-label"></label>
                <input type="file" accept=".jpg, .png" asp-for="FoundPet.ImagePet" class="form-control" />
                <span asp-validation-for="FoundPet.ImagePet" class="text-danger"></span>
            </div>
            <div class="form-group collapse">
                <label asp-for="FoundPet.RegisterDate" class="control-label"></label>
                <input asp-for="FoundPet.RegisterDate" class="form-control" />
                <span asp-validation-for="FoundPet.RegisterDate" class="text-danger"></span>
            </div>
            <div class="form-group collapse">
                <label asp-for="FoundPet.Status" class="control-label"></label>
                <input asp-for="FoundPet.Status" class="form-control" />
                <span asp-validation-for="FoundPet.Status" class="text-danger"></span>
            </div>
            <div class="form-group collapse">
                <label asp-for="FoundPet.LastUpdate" class="control-label"></label>
                <input asp-for="FoundPet.LastUpdate" class="form-control" />
                <span asp-validation-for="FoundPet.LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group collapse">
                <label asp-for="FoundPet.UserId" class="control-label"></label>
                <input asp-for="FoundPet.UserId" class="form-control" />
                <span asp-validation-for="FoundPet.UserId" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <input id="btn" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
