@page
@model PetSearch.Pages.LogInModel
@{
    ViewData["Title"] = "Log In";
}
<div id="bottom">
    <form class="form">
    <h1>Login</h1>
     <div class="cont">
         <div class="input-cont">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Email Address">
         
         </div>
         
         <div class="input-cont">
        <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Password">
         
         </div>
         <input type="submit" value="Login" class="button">
         <p class="p">By signing up, you agree to our Terms of Use and Privacy Policy.</p>
         <p class="p">You do not have an account? <a class="link" href="~/Register">Register</a></p>
     </div>
    </form>
</div>

